/*Type Selectors*/

body {
  color: red;
}

ul {
  color: blue;
}

li {
  color: orange;
}

li a {

}

li + a {

}

/*Classes, attributes, and pseudo-class selectors*/
.friends {
  color: yellow;
}

input [type="text"] {

}

/*pseudo-class selectors*/
/*a:hover
input:checked*/

/*ID selectors*/
#hello  {

}
